In [0]:
employee_df = spark.read.csv(path="dbfs:/FileStore/jain_university/employee.csv",
                             header=True,
                             sep="|",
                             inferSchema=True)
type(employee_df)
employee_df.display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,'Agastya',1,M,1987-01-22,Infosys,Developer,2015-01-21,"'Hadoop,Hadoop,PySpark,Azure'","'1950000,1600000'"
102,'Acyuta',2,F,1987-03-29,TCS,Team Lead,2016-01-21,"'C,C++,Java'","'1150000,1500000'"
103,'Anuvrata',1,M,1987-01-22,Infosys,Developer,2017-01-21,"'Java,Python,Hadoop'","'1250000,1300000'"
null,'Bhavika',6,F,1987-01-22,Infosys,Team lead,2015-01-21,"'Hadoop,PySpark,Kafka'",null
105,'Chitragandha',null,M,1987-01-22,CTS,Developer,null,"'C,C++,Java'","'1200000,1400000'"
106,'Hritika',9,F,1987-01-22,Cisco,Developer,2016-01-21,"'C,C++,Java'","'950000,1300000'"
107,'Jigyasa',12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"'Hadoop,PySpark,Kafka'","'200000,2100000'"
108,'Kaveri',4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"'C,PySpark,Azure,AWS'","'3050000,2500000'"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"'C,C++,Java'","'1050000,1100000'"
110,'Vin',null,T,1987-01-22,CTS,Team Lead,2020-01-21,"'Hadoop,PySpark,Kafka,Kafka'","'1550000,1400000'"

In [0]:
employee_df.printSchema()

root
 |-- col_id: integer (nullable = true)
 |-- col_name: string (nullable = true)
 |-- col_exp: integer (nullable = true)
 |-- col_gen: string (nullable = true)
 |-- col_dob: date (nullable = true)
 |-- col_company: string (nullable = true)
 |-- col_desig: string (nullable = true)
 |-- col_doj: date (nullable = true)
 |-- col_skills: string (nullable = true)
 |-- col_previous_expected_salary: string (nullable = true)

In [0]:
df_01 = employee_df.select("col_id","col_name")
df_01.display()

col_id,col_name
101,'Agastya'
102,'Acyuta'
103,'Anuvrata'
null,'Bhavika'
105,'Chitragandha'
106,'Hritika'
107,'Jigyasa'
108,'Kaveri'
109,null
110,'Vin'

In [0]:
employee_df.select("col_id","col_name").display()

col_id,col_name
101,'Agastya'
102,'Acyuta'
103,'Anuvrata'
null,'Bhavika'
105,'Chitragandha'
106,'Hritika'
107,'Jigyasa'
108,'Kaveri'
109,null
110,'Vin'

In [0]:
from pyspark.sql.functions import col
employee_df.select(col("col_id"),
                   col("col_name").alias("name")).display()

col_id,name
101,'Agastya'
102,'Acyuta'
103,'Anuvrata'
null,'Bhavika'
105,'Chitragandha'
106,'Hritika'
107,'Jigyasa'
108,'Kaveri'
109,null
110,'Vin'

In [0]:

employee_df.display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,'Agastya',1,M,1987-01-22,Infosys,Developer,2015-01-21,"'Hadoop,Hadoop,PySpark,Azure'","'1950000,1600000'"
102,'Acyuta',2,F,1987-03-29,TCS,Team Lead,2016-01-21,"'C,C++,Java'","'1150000,1500000'"
103,'Anuvrata',1,M,1987-01-22,Infosys,Developer,2017-01-21,"'Java,Python,Hadoop'","'1250000,1300000'"
null,'Bhavika',6,F,1987-01-22,Infosys,Team lead,2015-01-21,"'Hadoop,PySpark,Kafka'",null
105,'Chitragandha',null,M,1987-01-22,CTS,Developer,null,"'C,C++,Java'","'1200000,1400000'"
106,'Hritika',9,F,1987-01-22,Cisco,Developer,2016-01-21,"'C,C++,Java'","'950000,1300000'"
107,'Jigyasa',12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"'Hadoop,PySpark,Kafka'","'200000,2100000'"
108,'Kaveri',4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"'C,PySpark,Azure,AWS'","'3050000,2500000'"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"'C,C++,Java'","'1050000,1100000'"
110,'Vin',null,T,1987-01-22,CTS,Team Lead,2020-01-21,"'Hadoop,PySpark,Kafka,Kafka'","'1550000,1400000'"

In [0]:
employee_df.filter(col("col_desig")=='Developer').display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,'Agastya',1,M,1987-01-22,Infosys,Developer,2015-01-21,"'Hadoop,Hadoop,PySpark,Azure'","'1950000,1600000'"
103,'Anuvrata',1,M,1987-01-22,Infosys,Developer,2017-01-21,"'Java,Python,Hadoop'","'1250000,1300000'"
105,'Chitragandha',null,M,1987-01-22,CTS,Developer,null,"'C,C++,Java'","'1200000,1400000'"
106,'Hritika',9,F,1987-01-22,Cisco,Developer,2016-01-21,"'C,C++,Java'","'950000,1300000'"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"'C,C++,Java'","'1050000,1100000'"

In [0]:
employee_df.filter(col("col_desig").isin("Developer", "Team Lead")).display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,'Agastya',1,M,1987-01-22,Infosys,Developer,2015-01-21,"'Hadoop,Hadoop,PySpark,Azure'","'1950000,1600000'"
102,'Acyuta',2,F,1987-03-29,TCS,Team Lead,2016-01-21,"'C,C++,Java'","'1150000,1500000'"
103,'Anuvrata',1,M,1987-01-22,Infosys,Developer,2017-01-21,"'Java,Python,Hadoop'","'1250000,1300000'"
105,'Chitragandha',null,M,1987-01-22,CTS,Developer,null,"'C,C++,Java'","'1200000,1400000'"
106,'Hritika',9,F,1987-01-22,Cisco,Developer,2016-01-21,"'C,C++,Java'","'950000,1300000'"
107,'Jigyasa',12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"'Hadoop,PySpark,Kafka'","'200000,2100000'"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"'C,C++,Java'","'1050000,1100000'"
110,'Vin',null,T,1987-01-22,CTS,Team Lead,2020-01-21,"'Hadoop,PySpark,Kafka,Kafka'","'1550000,1400000'"

In [0]:
employee_df.filter(~col("col_desig").isin("Developer", "Team Lead")).display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
null,'Bhavika',6,F,1987-01-22,Infosys,Team lead,2015-01-21,"'Hadoop,PySpark,Kafka'",null
108,'Kaveri',4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"'C,PySpark,Azure,AWS'","'3050000,2500000'"

In [0]:
from pyspark.sql.functions import lit
employee_df.withColumn("is_employeed", lit("Yes") ).display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary,is_employeed
101,'Agastya',1,M,1987-01-22,Infosys,Developer,2015-01-21,"'Hadoop,Hadoop,PySpark,Azure'","'1950000,1600000'",Yes
102,'Acyuta',2,F,1987-03-29,TCS,Team Lead,2016-01-21,"'C,C++,Java'","'1150000,1500000'",Yes
103,'Anuvrata',1,M,1987-01-22,Infosys,Developer,2017-01-21,"'Java,Python,Hadoop'","'1250000,1300000'",Yes
null,'Bhavika',6,F,1987-01-22,Infosys,Team lead,2015-01-21,"'Hadoop,PySpark,Kafka'",null,Yes
105,'Chitragandha',null,M,1987-01-22,CTS,Developer,null,"'C,C++,Java'","'1200000,1400000'",Yes
106,'Hritika',9,F,1987-01-22,Cisco,Developer,2016-01-21,"'C,C++,Java'","'950000,1300000'",Yes
107,'Jigyasa',12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"'Hadoop,PySpark,Kafka'","'200000,2100000'",Yes
108,'Kaveri',4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"'C,PySpark,Azure,AWS'","'3050000,2500000'",Yes
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"'C,C++,Java'","'1050000,1100000'",Yes
110,'Vin',null,T,1987-01-22,CTS,Team Lead,2020-01-21,"'Hadoop,PySpark,Kafka,Kafka'","'1550000,1400000'",Yes

In [0]:
employee_df.groupBy("col_desig").count().display()

col_desig,count
Developer,5
Team lead,1
R&D Engineer,1
Team Lead,3

In [0]:
from pyspark.sql.functions import count
employee_df.groupBy("col_desig").agg(count("*")).display()

col_desig,count(1)
Developer,5
Team lead,1
R&D Engineer,1
Team Lead,3

In [0]:
from pyspark.sql.functions import max, min
employee_df.groupBy("col_desig").agg(
    max(col("col_exp")).alias("max_experience"),
    min(col("col_exp")).alias("min_experience")
    ).display()

col_desig,max_experience,min_experience
Developer,9,1
Team lead,6,6
R&D Engineer,4,4
Team Lead,12,2